<div class="container">
    <div class="filters row">
        <div class="col-3">Select Filters:</div>
        <div class="col-9">
            <input type="text" [(ngModel)]="query" (input)="onSearch()" placeholder="Search by name or breed">
            <div>
                <label>Gender: </label>
                <input type="radio" name="gender" value="All" (change)="onGenderChange('All')" checked> All
                <input type="radio" name="gender" value="Female" (change)="onGenderChange('Female')"> Female
                <input type="radio" name="gender" value="Male" (change)="onGenderChange('Male')"> Male
            </div>
            <div>
                <label>Type: </label>
                <input type="radio" name="type" value="All" (change)="onTypeChange('All')" checked> All
                <input type="radio" name="type" value="Dog" (change)="onTypeChange('Dog')"> Dog
                <input type="radio" name="type" value="Cat" (change)="onTypeChange('Cat')"> Cat
            </div>
        </div>
    </div>

    <div class="loader" *ngIf="isLoading">Loading...</div>
    <div class="loader" *ngIf="animals.length == 0">No Data found</div>
    <owl-carousel-o *ngIf="animals.length > 0" [options]="customOptions" class="animal-card">
        <ng-template *ngFor="let animal of animals" class="animal-card" carouselSlide>
            <div>
                <img [src]="animal.image" alt="{{ animal.name }}">
                <h3>{{ animal.name }}</h3>
                <p>{{ animal.breed }} | {{ animal.age }} years | {{ animal.gender }}</p>
                <button (click)="viewDetails(animal)">View Details</button>
            </div>
        </ng-template>
    </owl-carousel-o>

</div>