button {
    text-align: center;
    margin: 10px 0;
    border: 2px solid;
    background: transparent;
    border-radius: 15px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

div {
    text-align: center;
}